extends layout
block content
	.container
		header
			h1 Administration
			hr
			a(href="/") Public
			span  | 
			a(href="#/") List
			span  | 
			a(href="#/add") Add
		section(ng-view)
	script(src='/admin.js')